.flex {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	flex-direction: row;

	&-column {
		flex-direction: column;
	}

	&-fit-height {
		height: 100%;
	}

	&-relative {
		position: relative;
	}

	// vertical alignment
	&-ai-start {
		align-items: flex-start;
	}
	&-ai-center {
		align-items: center;
	}
	&-ai-end {
		align-items: flex-end;
	}
	&-ai-strech {
		align-items: stretch;
	}

	// Horizontal alignment
	&-jc-start {
		justify-content: flex-start;
	}
	&-jc-center {
		justify-content: center;
	}
	&-jc-end {
		justify-content: flex-end;
	}
	&-jc-between {
		justify-content: space-between;
	}
}
