nav(class='navigation')
  div(class='navigation_wrapper')

    div(class='navigation_left-side')

      span logo

    div(class='navigation_right-side')

      ul(class='navigation_links')
        li(class='navigation_links_item')
          a(class='navigation_links_link' href='contact') about
        li(class='navigation_links_item')
          a(class='navigation_links_link' href='contact') contact

