mixin awards(data)
  section(class="about-awards section")
    div(class="section_wrapper")
      div(class="section_content has-max-width")
        h2(class="headline-2 title" data-animation="title")=data.title

        div(class="pl-400")
          each award in data.items
            div(class="mt-400")
              div(class="flex mb-200")
                strong(class="paragraph-basic is-bold mr-200")=award.quantity
                p(class="paragraph-basic")= award.title
              hr

