section(class="section home-contact has-button-right")
  div(class="section_wrapper")
    div(class="section_content")
      h2(class="headline-2 mb-050")=home.contact.title
      p(class="paragraph-basic")=home.contact.subtitle
      button(class="button is-primary")=home.contact.button

