extends ../../base.pug

block variables
  - var template = 'home'

block content

  div(class="home")
    include ./navigation
    include ./hero
    include ./about
    include ./skills
    include ./contact
