div(class="home-navigation")
  ui(class="home-navigation_list")
    each item in home.navigation
      li(class="home-navigation_list_item")
        p(class="headline-1 color-neutral-base")= item.text
