$border-thin: 1px solid $color-primary-base;
$border-medium: 2px solid $color-primary-base;
$border-thick: 4px solid $color-primary-base;
$border-radius-low: 4px;
$border-radius-medium: 8px;
$border-radius-high: 12px;
