.main {
	min-height: 100%;

  &-layout {
    background-color: $color-app-background;
    min-height: 100vh;

    .page {
      opacity: 0;
    }

    .section {
      padding: 10rem 4rem;


      &.is-hero{
        padding-top: 25rem;

        .headline-1 {
          max-width: 106.25rem;
          padding-bottom: 10rem;
        }

        .rich-text {
          padding-left: 10rem;
          max-width: 90rem;
        }
      }
    }

    .section_content {
      &.has-max-width {
        max-width: 125rem;
      }

      > .headline-1,
      > .headline-2 {
        color: $color-primary-base;
      }

      > .headline-2 {
        margin-bottom: 4rem;
      }

      > .paragraph-basic {
        color: $color-neutral-dark-1;
      }

      > .button:last-child {
        margin-top: 6rem;
      }
    }
  }
}

.section {
	&_wrapper {
		max-width: $wrapper-app-width;
		margin: 0 auto;
	}

  &-viewport {
    height: 100vh;

    .section_wrapper {
      height: 100%;
    }
  }

  &.has-button-right {
    .button {
      margin-left: auto;
    }
  }

  &.has-button-center {
    .button {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
