@font-face {
	font-family: "Mark";
	src: url("../fonts/mark/mark-light.eot");
	src: url("../fonts/mark/mark-light.eot?#iefix")
			format("embedded-opentype"),
		url("../fonts/mark/mark-light.woff2") format("woff2"),
		url("../fonts/mark/mark-light.woff") format("woff"),
		url("../fonts/mark/mark-light.ttf") format("truetype");
		// url("../fonts/mark/mark-light.svg#Mak-Light") format("svg");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Fira";
	src: url("../fonts/fira/fira-light.eot");
	src: url("../fonts/fira/fira-light.eot?#iefix")
			format("embedded-opentype"),
		url("../fonts/fira/fira-light.woff2") format("woff2"),
		url("../fonts/fira/fira-light.woff") format("woff"),
		url("../fonts/fira/fira-light.ttf") format("truetype");
		// url("../fonts/fira/fira-light.svg#FiraSans-Light") format("svg");
	font-weight: 300;
	font-style: normal;
}


@font-face {
	font-family: "IbmPlexMono";
	src: url("../fonts/ibm-plex-mono/ibm-plex-mono-regular.eot");
	src: url("../fonts/ibm-plex-mono/ibm-plex-mono-regular.eot?#iefix")
			format("embedded-opentype"),
		url("../fonts/ibm-plex-mono/ibm-plex-mono-regular.woff2") format("woff2"),
		url("../fonts/ibm-plex-mono/ibm-plex-mono-regular.woff") format("woff"),
		url("../fonts/ibm-plex-mono/ibm-plex-mono-regular.ttf") format("truetype");
		// url("../fonts/ibm-plex-mono/ibm-plex-mono-regular.svg#IBMPlexMono-Regular") format("svg");
	font-weight: 400;
	font-style: normal;
}
